@import './base.css';
@import './reset.css';
@import './header.css';
@import './not-found.css';
@import './views.css';

:root {
  --header-height: 64px;
}

main.v-main {
  background-color: rgb(37, 50, 57);
  min-height: calc(100vh);
}

.loader-container {
  height: 100%;
  display: flex;
  align-items: center;
}
