.views {
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  min-height: calc(100vh - var(--header-height));
  max-height: calc(100vh - var(--header-height));
  overflow-y: auto;
}

.views.home {
  background-image: url('@/assets/imgs/Background2.jpg');
}

.views.favorites {
  background-image: url('@/assets/imgs/Background3.jpg');
}

.views.booking {
  background-image: url('@/assets/imgs/volleyball.jpg');
}

.v-container.views {
  padding-block: 0;
}

.page-title {
  text-shadow: 2px 2px 2px black;
}
